 *{
    font-family: 'Courier New', Courier, monospace,fantasy;
    font-weight: 600;
    font-size: 30px;
 }

 div{
    width: 120px;
    height: 120px;
    display: block;
}

.caja1{
    background: chartreuse;
}
.caja2{
    background: red;
    position: relative;
    bottom: -60px;
    right: 100px;
}
.caja3{
    background: blueviolet;
}
.caja4{
    background: blue;
}